@model IEnumerable<DepartmentEmployeeApp.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<h2>Departments</h2>

<a class="btn btn-dark mb-3" asp-action="Create">+ Add New Department</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th style="width: 25%">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
